.order_report {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
  color: #777879;
  font-size: 12px;
  padding: 12px 7px;

  li {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.order_total {
  color: #431c5d;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
  padding: 13px 7px;
}
