.form
  color: #5A1094
  h2
    font-size: 26px
    font-weight: 300
    margin: 20px 0
  .subtitleContainer
    display: flex
    align-items: center
    color: #6B6B6B
    font-size: 14px
    font-weight: 300
    svg
      margin-right: 4px
      height: 25px
      width: 19px
  .label
    font-size: 16px
    font-weight: 300
    margin-bottom: 6px
  input
    margin-bottom: 10px
  button
    margin-top: 10px
  .inputContainer
    display: flex
    div
      &:first-child
        margin-right: 30px
    input
      max-width: 95px
