.geo_container {
  position: relative;

  input {
    padding-right: 35px;
  }
}

.input_container {
  display: flex;

  select {
    margin-right: 20px;
    max-width: 180px;
  }

  input {
    max-width: 120px;
  }
}
