.button {
  background-color: rgba(90, 16, 148, 0.8);
  border: 1px solid rgba(67, 28, 93, 0.8);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  max-width: 180px;
  padding: 12px;
  width: 100%;

  &.simple {
    background-color: transparent;
    border: 0;
    color: #5a1094;
    font-size: 12px;
    margin-top: 21px;
    padding: 0;
    text-decoration: underline;
    width: auto;
  }
}
